<div
  class="fixed top-0 left-0 right-0 z-50 bg-trillium-yellow text-black font-bold lg:text-lg text-center py-3 px-4"
>
  <p>
    Trillium Hacks has become Apocalypse. <a
      href="https://apohacks.com/"
      target="_blank"
      class="underline hover:text-teal">Pre-register now</a
    >!
  </p>
</div>
